<body class="">
  <div class="container mt-3">
    <h2 class="text-center">Datos Ingresados</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Categoria</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (producto of productos; track producto) {
          <tr>
            <td>{{producto.id}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.categoria}}</td>
            <td>
              <!-- <button class="btn btn-success btn-sm" [routerLink]="['/detalles', producto.id]">Detalles</button> -->
              <button class="btn btn-success btn-sm" [routerLink]="['/editar', producto.id]">Editar  </button>
              <button class="btn btn-danger btn-sm" (click)="eliminar(producto.id)">Eliminar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</body>