
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.component.css" />
    <title>Supermarket Online - Compra con facilidad</title>
</head>
<body style="background-image: url(https://img.freepik.com/vector-gratis/hipster-ropa-moda-doodle-patron_1284-6445.jpg)">
    <section>
        <header>
            <h1>Black Book Shop</h1><br>
        </header>
        <div class="hero">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9K-bTpE6zBwr2WlpjBeziFHGto42gDp_jhGhXXt8twA&s" height="100px" alt="Supermarket Logo">
            <h3>Compra con facilidad y comodidad</h3>
            <p>En nuestra tienda online, encontrarás una amplia variedad de productos para tu hogar, incluyendo productos de limpieza, viveres y artículos para el hogar.</p>
            <a class="nav-link" href="login">Explora nuestros Productos</a>
        </div>
        <br>
        <br>

    </section>
</body>